.container{
    // max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f6;
    margin-bottom: 120px;
}

.containerGrid{
    @media (min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:13px; 
    }
    @media (min-width: 1200px){
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.cardEmpresa{
    text-align: center;
    width: 290px;
    margin: 0 auto;
    padding: 20px 20px 25px 20px;
    box-shadow: 0px 1px 1px #C7C7CC;
    border-radius: 8px;
    background-color: #fff;
    margin: 30px;

    font-size: clamp(1rem, -0.875rem + 3.33vw, 3rem);
    // @include h.min-md{
    //     width: 310px;
    //     margin: 0 auto;
    // }

    // @media (min-width: 768px) {
    //     width: 228px;
    //     height: 391px;
    //     padding-top: 8px;
    // }
}

.cardEmpresaImg{
    height: 140px;

    img{
        object-fit: contain;
        max-height: 140px;
    }
}

.contentEmpresa{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px 25px 20px;
    box-shadow: 0px 1px 1px #C7C7CC;
    border-radius: 8px;
    background-color: #fff;
    margin: 30px;
    min-height: 5vh;
    font-size: clamp(1.3rem, 1.8vw, 1.5rem);
}
.busca1{
    display: flex;
    align-self: stretch;
}
.busca{
    margin: 0 auto;
    margin-top: 2vh;
    display: flex;
    
    
}

.titleCard{
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 400;
}

.pesquisa{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 6px;
    border-end-start-radius: 6px;
    border-start-start-radius: 6px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    border-right: none;
    width: 600px ;
    margin-left: 3px;
}
.but{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
    border-left: none;
}

.h2 {
    margin-top: 50px !important;
    color: #36404b !important;

}

.cadastro {
    background-color: #120a8f;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 40px;
}

.container{
    // max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f6;
    margin-bottom: 120px;
}

.containerGrid{
    @media (min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:13px; 
    }
    @media (min-width: 1200px){
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.cardEmpresa{
    text-align: center;
    width: 350px;
    margin: 0 auto;
    padding: 20px 20px 25px 20px;
    box-shadow: 0px 1px 1px #C7C7CC;
    border-radius: 8px;
    background-color: #fff;
    margin: 30px;

    font-size: clamp(1rem, -0.875rem + 3.33vw, 3rem);
    // @include h.min-md{
    //     width: 310px;
    //     margin: 0 auto;
    // }

    // @media (min-width: 768px) {
    //     width: 228px;
    //     height: 391px;
    //     padding-top: 8px;
    // }
}

.contentEmpresa{
    text-align: center;
    width: 65%;
    margin: 0 auto;
    padding: 20px 20px 25px 20px;
    box-shadow: 0px 1px 1px #C7C7CC;
    border-radius: 8px;
    background-color: #fff;
    margin: 30px;
    min-height: 5vh;
    font-size: clamp(1.3rem, 1.8vw, 1.5rem);
}

.busca{
    display: flex;
    justify-content: center;
    margin: 20px; 
}

.pesquisa{
    background-color: rgba(235, 233, 233, 0.7);
    padding: 6px;
    border-end-start-radius: 6px;
    border-start-start-radius: 6px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    border-right: none;
    width: 100%;
    max-width: 400px;
}

.h2 {
    margin-top: 50px !important;
    color: #36404b !important;
}

.cadastro {
    background-color: #120a8f;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 40px;
}

.conteudo{
    text-align: left;
    padding-left: 2%;
    font-size: clamp(1.2rem, 1.6vw, 1.4rem);
}

.conteudo2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:clamp(2.1rem, 3vw, 2.5rem);
    font-weight: bold;
    color:#120a8f;
}

.ico2{
    cursor: pointer;
    font-size: clamp(2.2rem, 3.3vw, 2.6rem);
    margin-top: 2vh;
    text-align: center;
    margin-left: 5vh;
}
.soc{
    text-align: center;
    margin-bottom: 3vh;
}

.opcao{
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 100;
}
.opcao2{
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 100;
    left: 0;
}

.out{
    font-size: 4vh;
    border-radius: 8px;
    float: right;
    margin-right: 2vh;
    margin-top: 2vh;
}