.header{
    background-color: rgb(33, 33, 189);
    text-align: center;
    height: 80px;
    vertical-align: middle;
    margin-bottom: 15px;

    .title{
        font-size: 22px;
        color: rgb(206, 206, 8);   
    }
}