.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 33, 189);
    vertical-align: middle;
    padding: 0 25px;
    color:rgb(206, 206, 8) ;
    margin-top: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}